[user]
	name = CircuitGuy
	email = 1209150+CircuitGuy@users.noreply.github.com

[init]
	defaultBranch = main

[core]
	autocrlf = input
	editor = nano

[color]
	ui = auto

[pull]
	rebase = false

[merge]
	ff = false
