services:
  ipremember:
    build: .
    env_file:
      - .env
    ports:
      - "8080:8080"

  curl:
    image: curlimages/curl:8.3.0
    command: ["sleep", "infinity"]
    env_file:
      - .env
    depends_on:
      - ipremember
